<div class="container">
  <h2>Angular Curd Application</h2>

  <table class="table table-bordered">
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Body</th>
      <th width="200px">Action</th>
    </tr>
    <tr *ngFor="let post of posts">
      <td>{{ post.id }}</td>
      <td>{{ post.title }}</td>
      <td>{{ post.body }}</td>
      <td>
        <button type="button" [routerLink]="['/post/', post.id]"  class="button-18">Edit</button>
        <button type="button" (click)="deletePost(post.id)" class="button-19">Delete</button>
      </td>
    </tr>
  </table>
</div>
