<div class="container">
  <h1>Create New Data</h1>

  <a href="dashboard" class="btn btn-primary" >Live Dashboard</a>

  <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="form-group">
          <label for="title">Title</label>
          <input
              formControlName="title"
              id="title"
              type="text"
              class="form-control">
            </div>

      <div class="form-group">
          <label for="body">Body</label>
          <textarea
              formControlName="body"
              id="body"
              type="text"
              class="form-control">
          </textarea>
      </div>
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
  </form>
</div>


