<div class="container">
  <h1>Update Post</h1>



  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group">
      <label for="title">Title:</label>
      <input
        formControlName="title"
        id="title"
        type="text"
        [(ngModel)]="post.title"
        class="form-control"
      />
    </div>

    <div class="form-group">
      <label for="body">Body</label>
      <textarea
        formControlName="body"
        id="body"
        type="text"
        [(ngModel)]="post.body"
        class="form-control"
      >
      </textarea>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="!form.valid">
      Update
    </button>
  </form>
</div>
